html {
    font-family: Ubuntu, Oswald, sans-serif;
    font-weight: 400;
    background-color: aliceblue;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;

}

.text-sub {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;
    color: #858e8a;
}