html {
    font-family: Ubuntu, Oswald, sans-serif;
    font-weight: 400;
    background-color: aliceblue;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

a,
button {
    outline: none;
}

.button {
    transition: 0.2s;
}

.button:hover {
    opacity: 0.75;
}

.button:active {
    background-color: #2a7ac0;
}

.text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;

}

.title-medium {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.text-sub {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;
    color: #858e8a;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid #050505;
    outline-offset: 1px;
    border-radius: 1px;
}