html {
    font-family: Ubuntu, Oswald, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.head {
    margin-bottom: 40px;
    max-width: 596px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-mb {
    margin-bottom: 80px;
}

.article-img,
.article-video {
    width: 100%;
}

.article-list {
    padding-left: 20px;
    margin-top: 0;
}

.article-item {
    margin-bottom: 12px;
}

.article-video {
    margin-bottom: 40px;
}